<style>
    .outer-div {
        display: flex; justify-content: center;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .inner-div {
        display: flex; justify-content: center;
        flex-direction: column;
        width: 300px;
        
    }

    input {
        border-radius: 6px;
        border: solid 1px rgb(230, 230, 230);
        padding: 12px;
        font-size: 14px;
        margin-bottom: 12px;
    }

    button {
        border-radius: 6px;
        border: solid 1px rgb(230, 230, 230);
        background-color: dodgerblue;
        font-size: 14px; font-weight: bold;
        color: white;
        padding: 12px;
    }

</style>

<script>

    async function handleLogin() {
        console.log("Trying to login...")
        // fire off a PUT request using Axios - Axios is in auth-layout.ejs
        // Info can be found here - https://github.com/axios/axios

        const email = document.getElementById('email').value
        const password = document.getElementById('password').value
        const formData = new FormData()
        formData.append("emailAddress", email)
        formData.append('password', password)

        const errorDiv = document.getElementById('errorMessage')
        errorDiv.style.display = 'none'

        try {
            const response = await axios.put('/api/v1/entrance/login', formData) 
            document.location = "/post"
        } catch (err) {
            console.log(err.toString())
            errorDiv.style.display = 'block'
            if (err.response && err.response.data && err.response.data.problems) {
                errorDiv.innerHTML = err.response.data.problems[0]
            } else {
                errorDiv.innerHTML = "Something went wrong with your submission."
            }

        }
    }

</script>

<div class="outer-div" style="font-family: Arial, Helvetica, sans-serif">

   <div class="inner-div">

    <div style="display: flex; justify-content: center">
        <div>
            <div style="display: flex; justify-content: center; margin-bottom: 16px;">
                <img style="width: 120px" src='/images/startup.png'>

            </div>
            
            <div style="margin-bottom: 16px; font-size: 28px; font-weight: bold">
                Social Stack
            </div>
        </div>
    </div>

       <div style="background-color: white; padding: 24px; border-radius: 6px">

        <div style="font-weight: bold; font-size: 16px; 
        margin-bottom: 16px; text-align: center">
            Log into your account
        </div>

            <form 
            style='display: flex; flex-direction: column'>
                <input id="email" name="emailAddress" type="text" placeholder="Email">
                <input id="password" name="password" type="password" placeholder="Password">
                <button onclick="handleLogin()" type="button">Login</button>
            </form>

            <div id='errorMessage' style='font-size: 14px; color: red; text-align: center; margin-bottom: 16px;'></div>
            
            <div>
                Don't have an account?
                <a href="/signup">Sign up</a>
            </div>
       </div>
        
   </div>
    
</div>