
<script>
    function onFileChange(event) {
        console.log(event)
        const file = event.target.files[0]
        console.log(file)

        const imageSrc = window.URL.createObjectURL(file)

        document.getElementById('selectedImage').src = imageSrc
        document.getElementById('selectedImage').style.display = 'block'
        
    }
</script>

<div style="background-color: rgb(235, 233, 233);
 padding: 24px">
     
    <form style="margin-bottom: 12px" action="/post" method="POST"
        enctype="multipart/form-data">
        <input name='postBody' type="text" placeholder="Enter post text">
        <button type="submit">Create Post</button>
        <br><br>
        <div>
            <input name='imageFile' onchange="onFileChange(event)" type="file">
            <img id="selectedImage" 
                style="max-width: 600px; display: none"
                src='image url' />
        </div>
    </form>
    <br><br>

    Below are all of my posts: 
    <% allPosts.forEach(p => { %>
        <div style="background-color: white; padding: 16px;
        margin-bottom: 12px">
        <div style="font-weight: bold">
            <%= p.user.fullName %>
        </div>
        <div style="color: rgb(186, 186, 186)">
            <%= new Date(p.createdAt).toLocaleTimeString()
            + " " + new Date(p.createdAt).toLocaleDateString() %>
        </div>
        <%= p.text %>
        <img style="max-width: 600px;" src="<%= p.imageUrl %>"/>
        </div>
     <% }) %>
</div>