<div style="background-color: rgb(235, 233, 233);
 padding: 24px">
     

    <form style="margin-bottom: 12px" action="/post" method="POST">
        <input name='postBody' type="text" placeholder="Enter post text">
        <button type="submit">Create Post</button>
    </form>

    Below are all of my posts: 
    <% allPosts.forEach(p => { %>
        <div style="background-color: white; padding: 16px;
        margin-bottom: 12px">
        <div style="font-weight: bold">
            <%= p.user.fullName %>
        </div>
        <div style="color: rgb(186, 186, 186)">
            <%= new Date(p.createdAt).toLocaleTimeString()
            + " " + new Date(p.createdAt).toLocaleDateString() %>
        </div>
        <%= p.text %>
        </div>
     <% }) %>
</div>